[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
lxml = "*"
pytest = "*"
pandas = "*"
networkx = "*"
lxml-html-clean = "*"
rapidfuzz = "*"

[dev-packages]
jupyter = "*"
notebook = "*"
matplotlib = "*"
sphinx = "*"
pylint = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
